name: asdf

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: 0 0 * * 5

jobs:
  plugin_test:
    name: asdf plugin test
    runs-on: macos-latest
    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v3
        with:
          command: xcodes --help
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
